#map {
    position: relative;
    height: 400px;
}

.layer path {
    stroke: #fff;
    stroke-width: 1.5px;
    vector-effect: non-scaling-stroke;
}

.pub_point {
fill:rgb(148,0,211);
stroke: #fff;
fill-opacity: 0.6;
}

.compass .back {
  fill: #eee;
  fill-opacity: .8;
}

.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}

.compass rect.back.fore {
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.compass .direction {
  fill: none;
}

.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}

.compass .zoom .chevron {
  stroke-width: 4px;
}

.compass .active .chevron, .compass .chevron.active {
  stroke: #fff;
}

.compass.active .active .direction {
  fill: #999;
}

.compass .active .chevron, .compass .chevron.active {
  stroke: #fff;
}

.compass.active .active .direction {
  fill: #999;
}

#tip {
    position : absolute;
    border : 1px solid gray;
    background-color : #efefef;
    color:#333;
    padding : 3px;
    z-index: 1000;
    /* set this to create word wrap */
    max-width: 200px;
}​
